# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Игнорировать виртуальное окружение
.venv/

# Игнорировать папку info/software
info/software/

# Игнорировать папку models/llm
models/

voicevox
recording.wav
*.tmp
test.wav
.env

node_modules/

ffmpeg.exe
ffprobe.exe

trashcan/
three_js_library/static/three.js/

trashcan/