transformers
peft
bitsandbytes
pynvml
schedule
PyQt5
PyQtWebEngine
speechrecognition
pyaudio
numpy
dataclasses
urllib3
resource
psutil
openai-whisper
setuptools-rust
soundfile
gptqmodel
wheel
gekko
pandas
wget
silero
scipy
torchaudio
librosa
torchvision
noisereduce